/* BASIC STYLES HERE */
body {
    background-size: cover;
}
image {
    background: radial-gradient(#dbcfcfb9, #000000be);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.808));
    filter: brightness(50%);
}
.image-text {
    display: block;
    color: #fff;
    text-shadow: 2px 2px #0e0d0d
}
.hidden-text {
    opacity: 0;
}

.reveal:hover .hidden-text {
    opacity: 1;
}
.card {
    opacity: 90%;
}